.mesto-cards {
  margin: 0 auto;
  padding: 0;
  max-width: 882px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  column-gap: 18px;
  row-gap: 21px;
  list-style: none;
}

@media (max-width: 981px) {
  .mesto-cards {
    width: calc(100% - 250px);
    justify-content: space-around;
  }
}

@media (max-width: 831px) {
  .mesto-cards {
    column-gap: 5px;
    grid-template-columns: repeat(auto-fit, 250px);
  }
}

@media (max-width: 759px) {
  .mesto-cards {
    grid-template-columns: repeat(auto-fit, 282px);
    row-gap: 20.25px;
  }
}
