.popup__input {
  width: 100%;
  height: 27.5px;
  padding: 0;
  border:none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 1.21;
}

.popup__input::placeholder {
  color: #C4C4C4;
}

@media (max-width: 515px) {
  .popup__input {
    height: 24px;
    font-size: 12px;
    line-height: 1.25;
  }
}
