.popup__container {
  position: relative;
  margin: 0;
  padding-bottom: 36px;
  max-width: 430px;
  max-height: 330px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media (max-width: 515px) {
  .popup__container {
    max-width: 240px;
    min-height: 258px;
    padding-bottom: 30px;
  }
}
