.profile {
  margin: 0 auto;
  max-width: 882px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 981px) {
  .profile {
    width: calc(100% - 250px);
  }
}

@media (max-width: 776px) {
  .profile {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .profile {
    width: calc(100% - 150px);
  }
}

@media (max-width: 425px) {
  .profile {
    width: calc(100% - 38px);
  }
}
