.header {
  margin: 0 auto;
  max-width: 882px;
  display: flex;
  align-items: flex-start;
  opacity: 0.7;
  border-bottom: 1px solid #545454;
}

@media (max-width: 981px) {
  .header {
    width: calc(100% - 250px);
  }
}

@media (max-width: 600px) {
  .header {
    width: calc(100% - 150px);
  }
}

@media (max-width: 425px) {
  .header {
    width: 100%;
  }
}
