.profile__edit-button {
  width: 24px;
  height: 24px;
  align-self: center;
  background-color: rgba(0,0,0,0);
  background-image: url(../../../images/profile-edit-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ffffff;
  transition: opacity 0.3s linear;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 425px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
