.mesto-card__trash {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19.3px;
  background-image: url(../../../images/mesto-card-trash.svg);
  background-color: rgba(0,0,0,0);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.mesto-card__trash:hover {
  opacity: 0.6;
}
