.mesto-card {
  position: relative;
  width: 282px;
  justify-self: center;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 831px) {
  .mesto-card {
   width: 250px;
  }
}

@media (max-width: 759px) {
  .mesto-card {
    width: 282px;
  }
}
