.profile__title {
  margin: 0;
  max-width: 295px;
  font-size: 42px;
  line-height: 1.33;
  font-weight: 500;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 981px) {
  .profile__title {
    max-width: 250px;
    font-size: 27px;
    line-height: 1.95;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .profile__title {
    max-width: 200px;
  }
}
