.profile__info {
  margin-left: 30px;
  max-width: 336px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 17px;
  row-gap: 16px;
}

@media (max-width: 425px) {
  .profile__info {
    margin-left: 0px;
    margin-top: 14px;
    max-width: 280px;
    row-gap: 14px;
  }
}
