.mesto-card__info {
  margin: 20px auto 24px;
  max-width: 246px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 831px) {
  .mesto-card__info {
    max-width: 200px;
  }
}

@media (max-width: 759px) {
  .mesto-card__info {
    max-width: 246px;
  }
}
