.footer {
  margin: 0 auto;
  padding: 66px 0 58px;
  max-width: 882px;
}

@media (max-width: 981px) {
  .footer {
    width: calc(100% - 250px);
  }
}

@media (max-width: 600px) {
  .footer {
    width: calc(100% - 150px);
  }
}

@media (max-width: 425px) {
  .footer {
    padding: 48px 0 33px;
    width: calc(100% - 38px);
  }
}
