.mesto-card__title {
  margin: 0;
  max-width: 188px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 831px) {
  .mesto-card__title {
    max-width: 150px;
    font-size: 20px;
  }
}

@media (max-width: 759px) {
  .mesto-card__title {
    max-width: 188px;
    font-size: 24px;
  }
}
